PORT=#Port bất kì
DB_USERNAME=#Usename của database, thường là root
DB_PASSWORD=#Mật khẩu của database
DB_DATABASE=eng_center
DB_HOST=#localhost
DB_DRIVER=# nếu cài mysql = xampp thì là 'mysql', còn nếu cài maria db thì là 'mariadb' (chỉ lấy nội dung trong nháy đơn)
DB_PORT=#port của database, mặc định là 3306